body {
    font-family: Helvetica;
    background-color: #8697ab;
    
}

h1 { 
    color: white;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;

}


img {
    
    width: 40%;
    
    overflow: hidden;
   
}

.box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
    margin-top: 50px;
    margin-bottom: 50px;
    
    color: white;
    font-weight: lighter;
    font-size: 30px;

    overflow-wrap: break-word;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    
    color: white;
    font-weight: lighter;
    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



